html, body {
	width: 15em;
}
  
.hidden {
	display: none;
}
  
.button {
	margin: 3% auto;
	padding: 4px;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
}
  
.button:hover {
	background-color: #CFF2F2;
}
  
.button {
	background-color: #E5F2F2;
}